<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-6">
          <h2>Total earned this <br>month:</h2>
        </div>
        <div class="col-xs-6">
          <h1 class="text-right"><strong>$<%= @checkins.length %></strong></h1>
        </div>
      </div>
        <hr>
      <h4>At the end of this month, please: </h4>
      <br>
      <button class="btn btn-profile">Deposit it into my bank account</button>
      <br><br>
      <button class="btn btn-profile">Put it towards my next membership fee</button>
    </div>
    <div class="col-xs-12 col-sm-6 graphs">
      <div class="btn-group">
          <button type="button" id="pieTrue" class="btn btn-primary toggle"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
          <!-- <button type="button" id="pieTrue" class="btn btn-primary toggle"><%= image_tag 'piecharticon.svg' %></button> -->
          <!-- <button type="button" id="pieFalse" class="btn btn-primary toggle"><%= image_tag 'barcharticon.svg' %></button> -->
          <button type="button" id="pieFalse" class="btn btn-primary toggle"><i class="fa fa-tasks" aria-hidden="true"></i></button>
      </div>
      <div id="chart"></div>
    </div>
  </div>



<div class="row">
  <div class="col-xs-12 col-sm-6 graphs">
    <h2 class="text-left">Total earned to date: <strong>$<%= @current_user.dividend %></strong></h2>
    <hr>
      <h3 id="month">April</h3>
      <div id="line">
      </div>
      <div id="calendar">
        <%= month_calendar events: @checkins do |date, checkins| %>
            <%= date %>

            <% checkins.each do |checkin| %>
                <div>
                    Went to <%= @current_user.gym.name %>
                </div>
            <% end %>
        <% end %>
      </div>
      <div class="btn-group">
        <button type="button" id="lineTrue" class="btn btn-primary toggle"><i class="fa fa-line-chart" aria-hidden="true"></i></button>
        <button type="button" id="lineFalse" class="btn btn-primary toggle"><i class="fa fa-calendar" aria-hidden="true"></i></button>
      </div>
  </div>
  <div class="col-xs-12 col-sm-offset-1 col-sm-5">
    <br><br>
    <h2><strong><%= @checkins.length %></strong> <small class="white">days you've gone this week</small></h2>
    <hr>
    <br><br>
    <h2><strong>29%</strong> <small class="white">increase from last week</small></h2>
    <hr>
    <br><br>
    <h2><strong>30%</strong> <small class="white">increase from last month</small></h2>
    <hr>
  </div>
</div>


</div>


<script>
   var pie = true;
   var line = true;
   var isGoal = false;
   var chart, chart2;
   var numCheckins = gon.num_checkins;
   var maxCheckins = gon.max_checkins;
   var daysLeft = gon.days_left;

renderChart();
$("#pieTrue").css("background-color", "#205A66 ")
function changeBorder() {
    if (pie) {
        $("#pieTrue").css("background-color", "#205A66 ")
        $("#pieFalse").css("background-color", "#FFA24F ")
    } else {
        $("#pieTrue").css("background-color", "#FFA24F ")
        $("#pieFalse").css("background-color", "#205A66 ")
    }
}

$("#lineTrue").css("background-color", "#205A66 ")
function changeBorder() {
    if (line) {
        $("#lineTrue").css("background-color", "#205A66 ")
        $("#lineFalse").css("background-color", "#FFA24F ")
    } else {
        $("#lineTrue").css("background-color", "#FFA24F ")
        $("#lineFalse").css("background-color", "#205A66 ")
    }
}

$("#lineTrue").click(function() {
    line = true
    renderChart();
    changeBorder();
});

$("#lineFalse").click(function() {
    line = false
    renderChart();
    changeBorder();
});

$("#pieTrue").click(function() {
    pie = true
    renderChart();
    changeBorder();
});

$("#pieFalse").click(function() {
    pie = false
    renderChart();
    changeBorder();
});

function renderChart() {
    if(pie){
        var chart = c3.generate({
            bindto: '#chart',
            data: {
            columns: [
                ["days you've been to the gym this month", numCheckins],
                ['days total this month', daysLeft],
            ],
            type: 'pie'
            },
            pie: {
                label: {
                  format: function (value, ratio, id) {
                    if(value === numCheckins){
                        return d3.format('')(value);
                    }
                    else if (value === daysLeft){
                        return;
                    }
                  }
                }
            }
        });
    } else {
        var chart2 = c3.generate({
            bindto: '#chart',
            data: {
                columns: [
                    ['Dollars Saved', (numCheckins)],
                ],
                type: 'gauge',
            },
            color: {
                pattern: ['#205A66 ', '#FFA24F ', '#FFA24F ', '#60B044 '], // the three color levels for the percentage values.
                threshold: {
                    values: [maxCheckins]
                }
            },
            size: {
                height: 180
            },
            gauge: {
                max: maxCheckins,
                label: {
                    format: function(val, ratio){
                        return '$' + val;
                    }
                }
            },
        });
    }
    if (line){
        $("#line").show()
        var chart = c3.generate({
            bindto: '#line',
            data: {
                columns: [
                    ['April', 1, 4, 5, 0],
                ],
            },
            axis: {
                x: {
                    label: 'Weeks'
                },
                y: {
                    label: 'Gym Visits'
                }
            }
        });
        $('#calendar').hide()
    } else {
        $("#line").hide()
        $('#calendar').show()
    }


}

</script>
