<h1>My name is <%=@current_user.name%></h1>
<p>Email: <%=@current_user.email%></p>
<p>Streak: <%=@current_user.streak%></p>
<%if @paycycle %>
    <p>Paycycle: <%=@paycycle.name.capitalize%></p>
<%end%>
<p>Gym: <%= @current_user.gym.name %></p>

<p>Number of checkins: <%= @numCheckins %></p>

<% @checkins.each do |c| %>
    <%= c.start_time %>
<%end%>
<br>
<div class="col-xs-6">
    <%= month_calendar events: @checkins do |date, checkins| %>
        <%= date %>

        <% checkins.each do |checkin| %>
            <div>
                Went to <%= @current_user.gym.name %>
            </div>
        <% end %>
    <% end %>
    <li><a href="/checkins/new">Add new checkin</a></li>
</div>

<div class="col-xs-6 graphs">
    <div class="btn-group">
        <button type="button" id="pieTrue" class="btn btn-primary toggle"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
        <button type="button" id="pieFalse" class="btn btn-primary toggle"><i class="fa fa-tasks" aria-hidden="true"></i></button>
    </div>
    <div id="chart">
    </div>
    
    
</div>

<%= link_to "Edit", users_edit_path(@current_user), class: 'btn btn-info'%>
