<h1>My name is <%=@current_user.name%></h1>
<p>Email: <%=@current_user.email%></p>
<p>Longest Streak: <%=@current_user.streak%></p>
<%if @paycycle %>
    <p>Paycycle: <%=@paycycle.name.capitalize%></p>
<%end%>
<p>Gym: <%= @current_user.gym.name %></p>

<p>Number of checkins this month: <%= @checkins.length %></p>

<% @checkins.each do |c| %>
    <%= c.start_time %>
<%end%>
<br>
<div class="col-xs-6">
    <%= month_calendar events: @checkins do |date, checkins| %>
        <%= date %>

        <% checkins.each do |checkin| %>
            <div>
                Went to <%= @current_user.gym.name %>
            </div>
        <% end %>
    <% end %>
    <!-- <li><a href="/checkins/new">Add new checkin</a></li> -->
</div>


<div class="col-xs-6 graphs">
    <div class="btn-group">
        <button type="button" id="pieTrue" class="btn btn-primary toggle"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
        <button type="button" id="pieFalse" class="btn btn-primary toggle"><i class="fa fa-tasks" aria-hidden="true"></i></button>
    </div>
    <div id="chart">
    </div>
</div>

<%= link_to "Edit", users_edit_path(@current_user), class: 'btn btn-info'%>

<script>
  var pie = true;
  var isGoal = false;
  var chart, chart2;
  var numCheckins = gon.num_checkins;
  var maxCheckins = gon.max_checkins;
  var daysLeft = gon.days_left;

  renderChart();
  $("#pieTrue").css("background-color", "#696969")
  function changeBorder() {
      if (pie) {
          $("#pieTrue").css("background-color", "#696969")
          $("#pieFalse").css("background-color", "orange")
      } else {
          $("#pieTrue").css("background-color", "orange")
          $("#pieFalse").css("background-color", "#696969")
      }
  }

  $("#pieTrue").click(function() {
      pie = true
      renderChart();
      changeBorder();
  });

  $("#pieFalse").click(function() {
      pie = false
      renderChart();
      changeBorder();
  });

  function renderChart() {
      if(pie){
          var chart = c3.generate({
              bindto: '#chart',
              data: {
              columns: [
                  ['Days Gone', numCheckins],
                  ['Days Left', daysLeft],
                  ['Money Lost', maxCheckins - numCheckins - daysLeft]
              ],
              type: 'pie'
              }
          });
      } else {

          var chart2 = c3.generate({
              bindto: '#chart',
              data: {
                  columns: [
                      ['Dollars Saved', (numCheckins)],
                  ],
                  type: 'gauge',
              },
              color: {
                  pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                  threshold: {
                      values: [maxCheckins]
                  }
              },
              size: {
                  height: 180
              },
              gauge: {
                  max: maxCheckins,
                  label: {
                      format: function(val, ratio){
                          return '$' + val;
                      }
                  }
              },
          });
      }
  }
</script>
